.scroll-container {
    overflow-y: auto;
}

.task-container {
    font-size: 20px;
    font-family: monospace;
    font-weight: 600;
    padding: 20px;
    color: gray;
    background-color: lightsteelblue;
    width: 100%;
    
    .task-item {
        padding: 16px;
        cursor: pointer;
        background-color: white;
        border-bottom: 1px solid lightsteelblue;
        box-shadow: -5px 5px 10px grey;
        div {
            text-overflow: ellipsis;
            overflow: hidden;
        }

        &:first-child {        
            border-radius: 10px 10px 0 0;
        }
        &:last-child {
            border-radius: 0 0 10px 10px;
        }
        
        &:hover {
            top: -2px;
            position: relative;
        }
        @media screen and (min-width:1280px){
            margin: 0 0 0 20.5%;  
        }
        @media (min-width:960px) and (max-width:1280px){
            margin: 0 0 0 25.5%;
        }
    }
    .success {
        color: green;
        background-color: #e1f5ea;
    }
}

.complete {
    background-color: lightgreen;
    color: black;
    border-radius: 5px;    
    font-size: 12px;
    padding: 4px 8px;    
    width: fit-content;
}

.pending {
    background-color: khaki;
    color: black;
    border-radius: 5px;
    font-size: 12px;
    padding: 4px 8px;
    width: fit-content;
}

.profile-background {
    color: #c66b37;
    padding: 16px;
    background-color: #132936;
    text-transform: uppercase;
    font-size: 30px;    
    font-family: fantasy;
    letter-spacing: 3px;
    button {
        color: #c66b37;
        background: transparent;
        border: none;
        cursor: pointer;
        border-radius: 50%;
        padding: 4px;
        &:hover {
            background-color: slategray;
        }
    }
}

.slide-panel {
    position: absolute;
    top: 68px;    
    border-top: 1px solid gray;
    right: 0;
    bottom: 0;
    left: 0;
    height: calc(100% - 68px);
    width: 20%;
    z-index: 1;
    color: #c66b37;
    background-color: #132936;
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out;
    transform: translateX(0);
    @media (min-width:600px) and (max-width:960px){
        width: 40%;
        transform: translateX(-100%);

        .slide-out {
            transform: translateX(-100%);
        }
    }
    @media (min-width:960px) and (max-width:1280px){
        width: 25%;
    }
    @media screen and (max-width:600px){
        width: 80%;
        transform: translateX(-100%);

        .slide-out {
            transform: translateX(-100%);
        }
    }
}

.slide-in {
    transform: translateX(0);
}

.profile-content {
    padding:16px;
    color: white;
    img {
        width: 50px;
        border-radius: 50%;
    }
    .profile-name {
        text-transform: capitalize;
        font-size: 24px;    
        font-family: cursive;
    }
    mat-list-item {
        color: white;
        font-family: monospace;
        font-size: 20px;
        &:hover {
            background-color: slategray;
        }
        mat-icon {
            margin-right: 8px;
        }
    }
}