@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
html, body { 
    height: 100%;
    overflow-y: hidden;
}
::-webkit-scrollbar {
    width: 2px;
  }

.dialog-style {
    margin: 12px;
}